{% include '@mytheme/include/header.html.twig' %}

  <div class="row">
    {{ page.navigation }}
  </div>

  <div class="breadcrumb">
       {{ page.breadcrumb }}
  </div>
  <div class="main-slider">
       {{ page.slider }}
  </div>

  <div class="featured">
       {{ page.featured_top }}
  </div>
  <div class="row">
       {{ page.highlighted }}
  </div>

  <main role="main" class="jumbotron">
    <div class="row"> 
      <div class="col-md-12">
        {{ page.help }}
        {{ page.content }}
      </div>
    </div>
  </main>
  {% include '@mytheme/include/footer.html.twig' %}

  